*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.container-contact-page{
    width: 100%;
    height: 100%;
    position: relative;
}
.contact-page-wrapper{
    width: 100%;
    height: 250px;
}
.page-wrapper{
    width: 100%;
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1px;
}
.page2-wrapper{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.header-wrapper{
    /* border: 2px solid #fff; */
    display: flex;
    align-items: center;
    margin: 50px 50px;  
}
.header-pg2{
    background-image: url(../assets/background.jpg);
}
.header-pg2-content{
    padding-top: 1px;
    /* margin: 50px 50px; */
}
nav{
    flex-grow: 1;
}
.nav-list{
    /* border:2px solid #fff; */
    display:flex;
    align-items: center;
    margin: 0 10px;
    list-style: none;   
}
.logo{
    width: 150px;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}
.nav-list li{
    margin: 0 10px;
}
.nav-list li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
.nav-list li:first-child{
    margin-left: auto;
    background-color: white;
    border-radius: 20px;
}
.nav-list li:first-child a{
    color: blue;
}
.nav-list li a:hover{
    color:blue;
}
main h1,main h2,.contact-page-wrapper h1{
    text-transform: uppercase; 
    font-family: Arial, Helvetica, sans-serif;
}
main h1{
    margin-top: 100px;   
    font-size: 60px;
    color: rgb(255,255,255);
}   
main h2{ 
    font-family: 'Montserrat', sans-serif;
    color: #acfdfe;
    font-size: 70px;
    letter-spacing: 20px;
    font-weight: 100; 
}
.content-header-wrapper{
    margin: 0 50px;
    /* border: 2px solid greenyellow;    */
}
.content-header-wrapper h1, .content-header-wrapper h2{
    color: white;
    font-weight: 100;
    text-align: left;
    padding-left: 60px;
    margin: 10px 0;
}
.content-header-wrapper h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.content-header-wrapper h2{
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.line{
    border-top-style: solid;
    border-top-width: thin;
    border-color: #acfdfe;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.content-header-wrapper .line{
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 200px;
    border-color: #30FFFB;
}
p{
    padding: 2% 15%;
    color: #acfdfe ;  
}
.contact-form-wrapper, .button-section, footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
} 
.content-form-wrapper{
    margin: 10px 0 10px 100px;
}
label{
    display: block;
    font-size: 15px;
    font-weight: 100;
    margin: 15px 0 5px;
}
.input-wrapper{
    position: relative;
    width: 200px;
}
.input-wrapper i{
    position: absolute;
    top: 6px;
    left: 10px;
    color: #aaafb4;
}
.input-wrapper input{
    padding-left: 35px ;
    height: 25px;
    width: 300px;
    border: 1px solid #aaafb4;
}
 textarea{
    width: 337px;
    border: 1px solid #aaafb4;
    height: 100px;
    resize: none;
}
.line-form{
    border-top: 2px solid #30FFFB;
    margin: 20px 0 15px;
    width: 337px;
}
button{
    display: block;
    width: 100px;
    height: 30px;
    background-color: #30FFFB;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.button-section div,button{
    display: inline-block;
    font-size: 12px; 
}
.button-section  span{
    font-weight: bold;
    text-decoration: none;   
}
.button-section a{
     text-decoration: none;
     color: black;
     font-size: 14px;
}

/*poti sa-mi dai,te rog o idee de cum as putea sa aliniez footer-ul acesta?*/
footer{
    /* border: 2px solid black; */
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-transform: uppercase;
    text-align: center; 
}
footer .blockchain{
    font-size: 12px;
    margin-right: 100px;   
}
footer .technology{
    font-size: 10px; 
    color: #30FFFB; 
    padding-left: 10px;
    margin-right: 100px;
    font-weight: 700;
}